<div class="form-group">
    <label for="title">Title</label>
    <input type="text" value="<%= article.title%>" name="title" class="form-control" id="title" required>
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" id="description" required><%= article.description%></textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" class="form-control" id="markdown" required><%= article.markdown%></textarea>
</div>

<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>